body {
    background: #333;
    font: normal 15pt  Arial;
}

header {
    text-align: center;
    color: whitesmoke;
}

section {
    text-align: center;
    background: white;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 8px 5px 10px rgba(0, 0, 0, 0.397);
}

footer {
    text-align: center;
    font-style: italic;
    color: white;
}